body {
    background-image: url('IMAGES/Wall.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black; 
}
.container {
    background-color: rgba(146, 181, 237, 1);
    color: black; 
    padding: 20px;
    border-radius: 10px;
}

.footer {
    position: fixed; /* Make the footer fixed */
    bottom: 0; /* Position the footer at the bottom of the viewport */
    width: 100%; /* Make the footer full width */
    background-color: #88abe2;
    color: #8fb1b16f;
    padding: 10px;
}

.navbar {
    background-color: #88abe2;
    padding: 10px;
}

.navbar-brand {
    color: #000000 !important;
    font-weight: bold;
}

.nav-link {
    color: #000000 !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    transform: translateY(0);
}

.nav-link:hover {
    color: #0056b3 !important;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.btn-info {
    background-color: #407C87;
    border-color: #407C87;
}

.btn-info:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.media img {
    border-radius: 50%;
}